html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 78px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: 'Montserrat','Arial', sans-serif;
  background-color: var(--body-bg-light);
  color: var(--text-light);
}

main {
  flex-grow: 1;
}

img {
  display: block;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
}

button {
  cursor: pointer;
}