:root {
    --body-bg-light: #F5F5F5;
    --btn-bg-light: #EEEEEE;

    --text-light: #000000;
    --text-dark: #FFFFFF;

    --main-green: #299764;

    --btn-bg-dark: #272727;


    --choose-img1: url('../images/choose-icon1.svg');
    --choose-img2: url('../images/choose-icon2.svg');
    --choose-img3: url('../images/choose-icon3.svg');
    --choose-img4: url('../images/choose-icon4.svg');
}

.dark {
    --btn-bg-light: #272727;

    --text-light: #FFFFFF;
    --text-dark: #000000;

    --main-green: #299764;

    --body-bg-light: #1c1c1c;
    --btn-bg-dark: #F5F5F5;

    --choose-img1: url('../images/choose-icon1-dark.svg');
    --choose-img2: url('../images/choose-icon2-dark.svg');
    --choose-img3: url('../images/choose-icon3-dark.svg');
    --choose-img4: url('../images/choose-icon4-dark.svg');
}