.footer__box {
  width: 20%;

}
.footer__box__inner {
  padding-top: 40px;
  .footer__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #555555;
    width: 240px;
    height: 100px;
    padding-top: 20px;
  }
}
