.service {
    padding: 160px 0;
    margin: 0 0 40px;
}

.service__heading {
    max-width: 684px;
    width: 100%;
    margin: 0 auto 40px;
    text-align: center;
}

.service__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.service__item {
    display: block;
    margin: 0 auto;
    position: relative;
    padding: 40px 32px;
    max-width: 590px;
    width: 100%;
    background-color: var(--btn-bg-light);
    border-radius: 20px;
    margin-bottom: 20px;

    &::after {
        position: absolute;
        top: 32px;
        right: 20px;
        display: block;
        width: 60px;
        height: 60px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../images/icon-service-1.svg');
        content: '';
    }

    &:nth-child(2)::after {
        background-image: url('../images/icon-service-2.svg');
    }

    &:nth-child(3)::after {
        background-image: url('../images/icon-service-3.svg');
    }

    &:nth-child(4)::after {
        background-image: url('../images/icon-service-4.svg');
    }

}

.service__content {
    max-width: 354px;
    width: 100%;
}

.service__subtitle {
    margin: 0 0 10px;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

.servicec__subtext {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}



@include max-width(500px) {
    .service__item {
        padding: 20px 20px;

        &::after {
            top: 24px;
            width: 40px;
            height: 40px;
            background-size: 80%;
        }
    }
    .service__content {
        max-width: 312px;
    }

    .service__subtitle {
        font-size: 28px;
        line-height: 34px;
    }

    .service {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}